* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.display {
  border: 2px solid black;
  border-radius: 3px;
  margin: 20px auto 10px auto;
  width: 300px;
}

@media (min-width: 600px) {
  .display {
    margin: 20px auto 10px 20px;
  }
}
.input {
  height: 100px;
  text-align: right;
}
.input__number {
  background-color: aqua;
  font-size: 3em;
  font-weight: bold;
  height: 70px;
  width: 100%;
}
.input ::-webkit-outer-spin-button,
.input ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input [type=number] {
  -moz-appearance: textfield;
}

.controls__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.controls__button {
  height: 74px;
  text-align: center;
  width: 74px;
}
.controls__button--equals {
  grid-column: 3/5;
  width: 150px;
}