$font-main: 'Noto Sans HK', sans-serif;
$color-yellow: #FFDF34;
$color-pink: #FE769D;
$color-grey: #C1BEC5;
$color-dark-grey: #A29EA9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-pink;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: $font-main;
}

.header {
  margin-bottom: 10px;
  text-align: center;

  &__h1 {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &__button {
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  &__h2 {
    font-size: 1em;
    padding-right: 5px;
  }

  &__about {
    display: none;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.visible {
  display: block;
}

.display {
  border: 2px solid black;
  border-radius: 3px;
  margin: 20px auto 10px auto;
  width: 300px;
}

@media (min-width: 500px) {
  .header__button {
    display: none;
  }
  
  .header__about {
    display: block;
  }
}

.input {
  height: 100px;
  text-align: right;

  &__number {
    background-color: $color-grey;
    font-size: 3em;
    font-weight: bold;
    height: 70px;
    width: 100%;
  }

  &__display {
    background-color: $color-dark-grey;
    height: 30px;
  }

  //remove number input dropdown:
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

  [type=number] {
    -moz-appearance: textfield;
  }
}

.controls__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.controls__button {
  height: 74px;
  text-align: center;
  width: 74px;
  
  &--equals {
    grid-column: 3 / 5;
    width: 148px;
  }

  &--AC {
    grid-column: 1 / 3;
    width: 148px;
  }
}
